
.header {
  color: black;
  z-index: 10;
  transition: none;
  background-color: white;

  .linkGroup {
    a {
      transition: none;
      font-size: 1.1rem;
      font-weight: 500;
    }
    a:hover {
      color: green;
    }

    .active {
      color: green;
      border-bottom: 3px solid green;
    }
  }

  .mobile_nav {
    &_collapse {
      position: relative;
    }

    &_icon {
      background-color: rgba(0, 0, 0, 0);

      &:hover {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}
